
h1,h2{
  color:#FFC14B;
  font-family: 'Graduate', serif;
}

h1{
  font-size: 7vw;
  @media screen and (min-width: 768px) {
    font-size:4vw;
  }
  font-weight:900;
}
h2{
  font-size: 4vw;
  @media screen and (min-width: 768px) {
    font-size:3vw;
  }
}
.card-footer{
  text-transform:uppercase;
  text-decoration: none;
  font-weight:700;
  font-family: 'Graduate', serif;
  color:#FFC14B;
}

.card-title{
  font-family: 'Graduate', serif;
  color:#FFC14B;

  font-size:6vw;
  @media screen and (min-width: 768px) {
    font-size:2vw;

  }
  text-transform: capitalize;
  font-weight:900;
}

.card-body{
  font-family: 'Arsenal', sans-serif;
  color:white
}

.authorText{
  text-transform: uppercase;
}

